.jumbotron {
  background-image: url("../images/pizza2.jpg");
  background-size: cover;
  border: 1px solid slategrey;
  color: lightyellow;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

.container {
  background-color: lemonchiffon;
}

input[type=checkbox] {
  display: inline-block;
}

.inline-radios {
  margin-bottom: 20px;
  margin-top: 20px;
}

.inline-checkboxes {
  margin-bottom: 20px;
}

.submit-btn-div {
  padding-bottom: 100px;
}

#submit-btn {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
}

.pizza-cost-display {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid blue;
  display: none;
}

#pizza-cost-text-cell {
  color: crimson;
  text-align: center;
}

#pizza-cost-text-cell h3 {
  padding-top: 4em;
}
